<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <!-- heading -->
    <center>
         <h1>Add Student</h1>
    <hr>
    <div class="content">
    <form method="post">
        <!-- student name -->
        
        <p>
            <input type="text" name="student_name" placeholder="student name"></input>
        </p>
      <!-- Collage Name -->
        <p>
            <input id="collage_name" type="text" name="collage_name" placeholder="Collage Name"></input>
        </p>
        <!-- student Urn -->
        <p>
            <input id="student_urn" type="text" name="student_urn" placeholder="Student URN"></input>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    <table>
    <tr>
        <th>Name</th>
        <th>URN</th>
        <th>Collage</th>
    </tr>


    <!-- display data from database -->
    {% for student in student_col %}
    <tr>
        <td>{{ student['student_name'] }}</td>
        <td>{{ student['student_urn']}} </td>
        <td>{{ student['collage_name']}}</td>
    </tr>
    {% endfor %}
    </table>

    
    </center>
   
    </div>
   
</body>
</html>

 